.example-spacer {
  flex: 1 1 auto;
}
.right_margin_2px {
  margin-right: 2px;
}
.inline {
  display: inline;
}
.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}
.btn-light mat-icon {
  color: #51585e;
}
