<form id="example-form">
  <mat-form-field id="search">
    <mat-label>Search</mat-label>
    <input matInput  type="search">
  </mat-form-field>
  <mat-form-field id="category_option" >
    <mat-label>Favorite food</mat-label>
    <mat-select  name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" id="search_button">
    <mat-icon>search</mat-icon>
  </button>
</form>
<!-- [(ngModel)]="selectedValue" -->
