<form id="example-form">
  <mat-form-field id="search">
    <mat-label>Search</mat-label>
    <input type="text" matInput  (keypress)="searching($event)" [matAutocomplete]="auto">
    <mat-select>
<mat-autocomplete #auto="matAutocomplete">
<mat-option *ngFor="let title of searchedTitle"  (click)="gettingSellectedValue(title)">
 {{title.title}}
</mat-option>
</mat-autocomplete>
</mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-select [(ngModel)]="selectedValue" name="selected">
      <mat-option *ngFor="let food of foods" [value]="food">
        {{food}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="search()" mat-button color="primary" id="search_button" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
