#example-form {
  min-width: 50px;
  max-width: 400px;
  width: 100%;
  // float: right;
  display: inline-block;
  margin-left: 5px;
}
#search_button {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-left: 2px;
}

.example-full-width {
  width: 100%;
}
@media (max-width: 570px) {
  #example-form {
    display: block;
    // max-width: 20%;
    // float: left;
  }
  #search {
  }
  #category_option {
  }
  #search_button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

@media (max-width: 470px) {
  #example-form {
    display: none;
  }
}
