// mat-card {
//   transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//   display: inline-grid;
//   position: relative;
//   max-width: 15%;
//   min-width: 5%;
//   margin: 5px;
//   align-content: center;
//   justify-content: center;
//   align-items: center;
//   justify-items: center;
// }
#category {
  display: inline-block;
}
.categories {
  padding: 20px;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-grid;
  position: relative;
  max-width: 15%;
  margin: 5px;
}
#add_to_cart {
  display: inline;
}
#favorite_button {
  display: inline;
}
@media (max-width: 690px) {
  mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    margin: 5px;
    max-width: 20%;
  }
}

@media (max-width: 470px) {
  mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 5px;
    max-width: 50%;
  }
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-grid;
  position: relative;
  max-width: 15%;
  margin: 5px;
}
#products {
  margin-left: 20px;
}
#add_to_cart {
  display: inline;
}
#favorite_button {
  display: inline;
}
@media (max-width: 690px) {
  mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    margin: 5px;
    max-width: 20%;
  }
}

@media (max-width: 470px) {
  mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 5px;
    max-width: 50%;
  }
}
