<app-header-bar></app-header-bar>
<app-nav-bar></app-nav-bar>
<div id="product" *ngIf="productDetails">
<div class="split left">
  <div class="centered">
    <img src={{productDetails.imagePath}}>
  </div>
</div>

<div class="split right">
  <div class="top_40">
    <p id="title">{{productDetails.title}}</p>
    <p id="about_product" ><app-starrating></app-starrating>
   154 orders
    <b class="text-success">In stock</b>
    </p>

    <b>{{productDetails.price | currency:'PKR':"Rs":"1.0-0"}}</b>
    <p>{{productDetails.description}}</p>
    <p><b>Type:</b>Regular</p>
    <p><b>Color:</b>Brown</p>
    <p><b>Material:</b>Cotton, Jeans</p>
    <p><b>Brand:</b>Reebook</p>
    <mat-divider></mat-divider>
    <div id="div_sizing">
      <!-- Components -->
      <app-size (productSize)='addSize($event)'></app-size>
      <app-quantity (quantityCount)='addQuantity($event)'></app-quantity>
        <!-- Components -->
    </div>
    <div>
    <button mat-flat-button id="buy_now" (click)="buyNow()">Buy Now</button>
    <button mat-flat-button color="primary" (click)="addToCart()"><mat-icon class="inline">shopping_cart</mat-icon><p class="inline">Add to cart</p></button>
    <button mat-flat-button color="primary" (click) ="addToWishList(productDetails)"><mat-icon class="inline">favorite</mat-icon><p class="inline">Save</p></button>
  </div>
  </div>
</div>
</div>
