// mat-grid-tile {
//   background: lightblue;
// }
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  // z-index: 1;
  // top: 0;
  overflow-x: hidden;
  // padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  // background-color: lightblue;
}

/* Control the right side */
.right {
  right: 0;
  // background-color: lightblue;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.top_40 {
  top: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 30%;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  // border-radius: 50%;
}
#rating {
  display: inline;
}
#total_orders {
  display: inline;
}
#stock {
  display: inline;
}
.mat-tab-group {
  margin-bottom: 48px;
}

.inline {
  display: inline;
}
#buy_now {
  background-color: #ff8100;
  color: #ffffff;
}
.align {
  vertical-align: middle;
}
.text-success {
  color: #00a524;
}
#title {
  margin: 0;
  text-align: left;
}
#about_product {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
#div_sizing {
  margin: 0;
  padding: 0;
  height: 70px;
}
button {
  margin-right: 3px;
}

@media (max-width: 600px) {
  .top_40 {
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    text-align: center;
  }
}
