<app-header-bar></app-header-bar>
<app-nav-bar></app-nav-bar>
<app-categories-with-icon></app-categories-with-icon>
<h1>New Products</h1>
<div id="products" *ngIf="products" >
  <mat-card *ngFor="let product of products" >
    <mat-card-content>
      <img mat-card-image src={{product.productImagePath}}>
        <b>{{product.productPrice | currency:'PKR':"Rs":"1.0-0"}}</b>
        <p>{{product.productTitle}}</p>
        <!-- product._id -->
        <button id="add_to_cart" mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
          <button id="favorite_button" mat-raised-button>
            <mat-icon id="favorite_icon" >favorite</mat-icon>
          </button>
    </mat-card-content>
  </mat-card>
  </div>
